@custom-media --bp-sm-laptop (width <= 1000px);
@custom-media --bp-tablet (width <= 750px);
@custom-media --bp-mobile (width <= 500px);
@custom-media --bp-md-mobile (width <= 380px);
@custom-media --bp-sm-mobile (width <= 320px);

.current-weather{
   margin: 2rem 3rem;

   & .location{
      font-weight: 800;
   }
}

.temp-box{
   display: flex;
   align-items: center;
   gap: 2rem;
}

.sky-deco{
   display: flex;
   justify-content: center;
	gap: 15px;
	position: relative;
	padding: inherit 3rem;

	& .airplane{
		position: absolute;
		left: 40%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	& .birds{
		position: absolute;
		right: 39%;
		top: 20%;
		transform: translate(-50%, -50%);
	}

   & .c-3{
      opacity: 0.7;
   }
}

@media(--bp-sm-laptop){
	.deco-container{
		margin-top: 6rem;
	}
}

@media(--bp-tablet){
	.deco-container{
		margin-top: 8rem;
	}
	.sky-deco{

		& .airplane{
			top: 10%;
		}

		& .birds{
			top: 50%;
			right: 20%;
		}
	}
}

@media(--bp-mobile){
	.deco-container{
		
		& .sky-deco{
			
			& .birds{
				top: 50%;
				right: 20%;
			}

			& .hide-cloud{
				display: none;
			}
		}

		& .floor-deco{
			margin-top: 4rem;
		}
	}
	.theatre.mySlides{
		padding-left: 2rem;
		padding-right: 2rem;
	}	
}


.floor-deco{
	display: flex;
   justify-content: center;
}

.all-locations{
	display: grid;
	grid-template-columns: repeat(6, minmax(200px, 1fr));

	& .location-box{
		display: grid;
		justify-content: center;
		text-align: center;
		border: 2px solid #DDDDDD;
		opacity: 0.3;
	}
}
.all-locations::-webkit-scrollbar {
	display: none;
 }
 
 /* Hide scrollbar for IE, Edge and Firefox */
 .all-locations {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
 }


.location-box:focus{
	opacity: 1;
}